@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="jumbotron">
    <h4 class="text-danger">Error.</h4>
    <img src="https://media.giphy.com/media/13JVCGQoE19lRe/giphy.gif" style="width:auto" />
</div>


