@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align ="center">G4MEROOM</h1>
    <p class="lead">Tudo o que você precisa para uma melhor experiência em jogos e acessórios eletrônicos.</p>
    <p><a href="~/Anuncios/Create" class="btn btn-primary btn-lg">Quer vender? &raquo;</a>  
    <a href="~/Anuncios/Index" class="btn btn-primary btn-lg">Quer comprar? &raquo;</a></p>
</div>

<div class="row" style="background-color:white;border-radius:10px;">
    <div class="col-md-4" >
        <h2>"GG izi"</h2>
        <p>
            Uma maneira simples de encontrar jogos, acessórios gamers, computadores, entre outros produtos relacionado ao mundo dos jogos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Anúncie o seu antiquário</h2>
        <p>Sabe aquele jogo de dez anos que você comprou e não gostou? Anúncie, pode ser que alguém esteja louco pra joga-lo.</p>
    </div>
    <div class="col-md-4">
        <h2>Tá esperando o quê?</h2>
        <p>Comece agora. Crie a sua conta gratuitamente para anúnciar ou comprar aqui na G4meroom.</p>
        <p><a class="btn btn-default" href="~/Account/Register">Cadastre-se &raquo;</a></p>
    </div>
</div>